<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1></h1>
	<form th:action="@{/update/{id} (id=*{id})}" method="POST" th:object="${image}">
		<div th:classappend="${#authorization.expression('hasAuthority(''SUPERADMIN'')')} ? 'hidden' : ''">
			<label>Title</label>
			<input type="text" name="title" th:value="*{title}">
			<label class="text-danger" th:if="${errors != null && errors.hasFieldErrors('title')}">[[ ${errors.getFieldError('title').defaultMessage}]]</label>
			<label>Description</label>
			<input type="text" name="description" th:value="*{description}">
			<label class="text-danger" th:if="${errors != null && errors.hasFieldErrors('description')}">[[ ${errors.getFieldError('description').defaultMessage}]]</label>
			<label>Url</label>
			<input type="text" name="url" th:value="*{url}">
			<label class="text-danger" th:if="${errors != null && errors.hasFieldErrors('url')}">[[ ${errors.getFieldError('url').defaultMessage}]]</label>
		</div>
		<label>Visible</label>
		<input type="checkbox" role="switch" name="visible" sec:authorize="hasAuthority('SUPERADMIN')" th:checked="${image.isVisible() == true}">
		<div th:classappend="${#authorization.expression('hasAuthority(''SUPERADMIN'')')} ? 'hidden' : ''">
			<div class="form-check" th:each="category : ${categories}" th:object="${category}">
				<input th:id="${'category-' + category.id}" th:value="*{id}" th:checked="${image.categories.contains(category)}" class="form-check-input" type="checkbox" name="categories" >
				<label th:for="${'category-' + category.id}" class="form-check-label">
					[[ *{name} ]]
				</label>
			</div>
			<select name="user" th:value="image.user.id" hidden>
				<option th:each="user : ${users}" th:object="${user}" th:selected="${image.user.id} == *{id}" th:value="*{id}">[[ *{id}]]</option>
			</select>
		</div>
		<button class="btn btn-primary" type="submit" value="UPDATE">Submit</button>
		
	</form>
</body>
</html>