<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h1>Create Image</h1>
				<form method="POST">
					<div class="mb-3 row">
					    <label for="inputPassword" class="col-sm-2 col-form-label">Title</label>
					    <div class="col-sm-10">
					      <input type="password" class="form-control" id="inputPassword">
					    </div>
				  	</div>
				  	<div class="mb-3 row">
				  		<label class="col-sm-2 col-form-label">Title</label>
				  		<div class="col-sm-10">
				  			<input type="text" name="title" th:value="*{title}" class="form-control">
				  		</div>
						<label class="text-danger" th:if="${errors != null && errors.hasFieldErrors('title')}">[[ ${errors.getFieldError('title').defaultMessage}]]</label>
				  	</div>
				  	<div class="mb-3 row">
				  		<label class="col-sm-2 col-form-label">Description</label>
				  		<div class="col-sm-10">
				  			<input type="text" name="description" th:value="*{description}" class="form-control">
				  		</div>
						<label class="text-danger" th:if="${errors != null && errors.hasFieldErrors('description')}">[[ ${errors.getFieldError('description').defaultMessage}]]</label>
				  	</div>
				  	<div class="mb-3 row">
				  		<label class="col-sm-2 col-form-label">Url</label>
				  		<div class="col-sm-10">
				  			<input type="text" name="url" th:value="*{url}" class="form-control">
				  		</div>
						<label class="text-danger" th:if="${errors != null && errors.hasFieldErrors('url')}">[[ ${errors.getFieldError('url').defaultMessage}]]</label>
				  	</div>
				  	<div class="mb-3 row">
				  		<label class="col-sm-2 col-form-label" sec:authorize="hasAuthority('SUPERADMIN')">Visible</label>
						<input th:classappend="${#authorization.expression('hasAuthority(''ADMIN'')')} ? 'hidden' : ''" type="checkbox" role="switch" name="visible">
				  	</div>
			
					<div class="form-check" th:each="category : ${categories}" th:object="${category}">
						<input th:id="${'category-' + category.id}" th:value="*{id}" class="form-check-input" type="checkbox" name="categories" >
						<label th:for="${'category-' + category.id}" class="form-check-label">
							[[ *{name} ]]
						</label>
					</div>
					<button class="btn btn-primary" type="submit" value="CREATE">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>