<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-6">
			<div class="card text-center" th:object="${image}">
			  <div class="card-header">
			    [[ *{title} ]]
			  </div>
			  <div class="card-body">
			  	<img class="img-fluid" th:alt="@{${image.title}}" th:src="@{${image.url}}">
			    <hr>
			    <p class="card-text"> [[ *{description} ]]</p>
			  </div>
			  <div class="card-footer text-body-secondary">
					<span class="badge text-bg-primary me-2" th:each="category : *{categories}" th:object="${category}">[[ *{name} ]]</span>		
			  </div>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>